---

---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>alex's print legion page!!</title>
	</head>
	<body>
		<h1>alex's print legion page!!</h1>
        <p>
            hi! this is my page for printers
        </p>
        <p>
            list of prints i've done to date:
            <ul>
                <li>SebDaBoBo</li>
                <li>ESharkPad</li>
                <li>like 300 more.... i am not putting this on here :sob:</li>
            </ul>
        </p>
        <br>
        <p>join #alex-containment-chamber</p>
        <p><a href="dari/secretpage">here's a secret page</a></p>
	</body>
</html>