---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Print Legion</title>
	</head>
	<body>
		<h1>Print Legion</h1>
        <p>
            Welcome to printing legion! This is the home page
        </p>
        <p>
            You can find a list of printers here:
        </p>
        <ul>
            <li><a href="/printer/dari" target="_blank">alex!!</a></li>
        </ul>
	</body>
</html>
